.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(232, 10%, 13%, 0.50);
    border-radius: 10px;
    height: 4.2rem;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 4px hsla(0, 0%, 0%, 0.25);
    box-shadow:-4px -4px 4px hsl(240, 25%, 34%);
}

.expand_bar {
    background: url(../../../../assets/icons/expand_bar_icon/x-50.png);
    background-size: 7vh;
    height: 7vh;
    width: 7vh;
    cursor: pointer;
}

.delete_bar {
    background: url(../../../../assets/icons/expand_bar_icon/x-50.png);
    background-size: 7vh;
    height: 7vh;
    width: 7vh;
    transform: rotate(45deg);
    cursor: pointer;
}

.cur_pair {
    color: aliceblue;
} 
.wallet_value {
    color: aliceblue;
}