.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(232, 10%, 13%, 0.50);
    border-radius: 10px;
    height: 4.2rem;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 4px hsla(0, 0%, 0%, 0.25);
    box-shadow:-4px -4px 4px hsl(240, 25%, 34%);
}

.expand_bar {
    background: url(../../../../assets/icons/expand_bar_icon/x-50.png);
    background-size: 3.5vh;
    height: 3.5vh;
    width: 3.5vh;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
}

.delete_bar {
    background: url(../../../../assets/icons/expand_bar_icon/x-50.png);
    background-size: 3.5vh;
    height: 3.5vh;
    width: 3.5vh;
    transform: rotate(45deg);
    cursor: pointer;
    margin-right: 15px;
}

.cur_pair_container, .wallet_value_container{
    display: flex;
    width: 50%;

}

.wallet_value_container {
    justify-content: space-between;
}

.cur_pair, .wallet_value {
    display: flex;
    align-items: center;
    padding-top: .2em;
    color: aliceblue;
    font-family: Aldrich;
    
} 

.wallet_value {
    padding-left: 1em;
    font-size: 1.25em;
}
