.wallets {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-top: 1rem;
    overflow-y: scroll;
    }

.scroll_wrapper{
    display: flex;
    flex-direction: column;
}

.add_bar {
    display: flex;
    align-self: center;
    color: aliceblue;
    background: url(../../../../assets/icons/plus_icon.png);
    background-size: 4vh;
    height: 4vh;
    width: 4vh;
    padding: 1vh;

    cursor: pointer;
}

::-webkit-scrollbar {
    background: transparent;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    border-top: solid 50px transparent;
    background: #252630;
    border-radius: 10px;
}

