# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/package-lock.json
/.pnp
.pnp.js
.firebaserc
/.firebase
/firebase-debug.log

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# secure
/server/node_modules
/server/package-lock.json
/server/.env
/server/arwisv1-firebase-adminsdk-diedy-c15bf5cfc5.json


/arwis/build
/arwis/node_modules
/arwis/.env
/arwis/package-lock.json
