@font-face {
    font-family: Aldrich;
    src: url(../../../../../assets/fonts/Aldrich/Aldrich-Regular.ttf);
}

.wallet_form {
    display: flex;
    height: 80%;
    width: 95%;
    justify-content: space-between;
    align-items: center;

}

.cur_pair, .connect{
    margin: 0 15px ;
    font-family: Aldrich;
    font-size: 1.5em;
    background-color: transparent;
    color: aliceblue;
}

.connect{
    height: 2em;
    font-size: 1.1em;
    letter-spacing: .2em;
    border: 1px solid aliceblue;
    padding: .3em .8em 0 1em;
}

.cur_pair{
    margin-left: 2em;
    
}

select{
    border: 0px;
    padding: .1em;
    font-family: Aldrich;

}


