.analytics {
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    height: 50vh;
    width: 100%;
    background-color: #1d1e2480;
    box-shadow: 4px 4px 4px hsla(0, 0%, 0%, 0.25);
    box-shadow:-4px -4px 4px hsl(240, 25%, 34%);
}

.analytics_right_half_container {
    width: 45%;
}