.algorithms {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88%;
    width: 45%;
    overflow-y: scroll;
}

.scroll_wrapper{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
}

.add_algo_button {
    background: url(../../../../../../assets/icons/plus_icon.png);
    height: 2.5vh;
    width: 2.5vh;
    background-size: 2.5vh;
    cursor: pointer;
    margin-top: 1em;
    align-self: center;

}

.list{
    width: 100%;
}