.algorithm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 8%;
    border-top: 1px solid aliceblue;
    color: aliceblue;
    font-size: .6em;;
    font-family: Aldrich;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .15em;
    align-items: center;
    padding: 2% 0 2% 0;
    margin-top: .1%;
}

.form, .wrap {
  width: 100%;
}

.wrap {height: 100%;}

.algo_container  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: 100%;
}

select {
    font-family: Aldrich;
    font-size: .6em;
    background-color: transparent;
    color: aliceblue;

}

.algo_form_item {
    display: flex;
    flex-direction: column;
    width: 19%;
    height: 100%;
}

.algo_title {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1%;
  
}

.algo_content{
  padding-top: .5em;
}
.algo_button{
  display: flex;
  width: 19%;
  justify-content: center;
}

.algo_item {
  display: flex;
  flex-direction: column;
  width: 19%;
  height: 100%;
  padding-top: 1%;
  
}

.algo_form_item_active {
    display: flex;
    flex-direction: column;
    width: 19%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}

.algo_form_select {
    height: 20px;
    width: 98%;
    border: 1px solid aliceblue;
}

.text_input {
    display: flex;
    width: 95%;
    height: 18px;
    border: 1px solid aliceblue;
    background-color: transparent;
    color: aliceblue;
    align-items: center;
    line-height: .9em;
    margin-right: 1px;
}
.text_input_bar {
    text-align: left;
    background-color: transparent;
    color: aliceblue;
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 12px;
    display: flex;
    align-items: center;
    min-height: 18px;
    background-color: #FF003D;
  }

  .slider:before {
    left: 2px;
    position: absolute;
    content: "";
    min-height: 16px;
    width: 16px;
    background-color: #3B3C46;;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 12px;
  }

  input:checked + .slider {
    background-color: #28A73C;
  }
  
  
  input:checked + .slider:before {
    
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }

  .delete_algo {
    background: url(../../../../../../../assets/icons/x_icon.png);
    height: 3vh;
    width: 3vh;
    background-size: 3vh;
    cursor: pointer;
    
  }

  .submit {
    background: url(../../../../../../../assets/icons/check_icon.png);
    height: 3vh;
    width: 3vh;
    background-size: 3vh;
    cursor: pointer;
  }

  