.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1d1e2480;
    margin: 25px 5px 25px 0;
    z-index: 1;
    display: flex;
    height: 95%;
    width: 125px;
    box-shadow: 4px 4px 4px hsla(0, 0%, 0%, 0.25);
    box-shadow:-4px -4px 4px hsl(240, 25%, 34%);
}


.logo {
    height: 3.5rem;
    margin-top: 2rem;
}

.nav_button {
    font-family: Aldrich;
    background-color: transparent;
    color: aliceblue;
    width: 80%;
    height: 28px;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 10%;
}

.test_button_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}