.auth_form {
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    width: 50%;
}

.auth_form_container {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1d1e2480;

}

.text_input_field {
    display: flex;
    flex-direction: row;

    font-family: Aldrich;
    font-size: large;
    text-align: center;
    color: aliceblue;
    
    background-color: #4C4F5F48;
    
    height: 26px;
    width: 100%;
    margin: 5px;
    padding-top: 2%;
}

.submit_button {
    border: .5px solid aliceblue;
    padding-top: 1%;
    margin-top: 8%;;
    font-family: Aldrich;
    background-color: transparent;
    color: aliceblue;
    width: 33%;
    height: 28px;
}

.submit_button:hover {
    cursor: pointer;
}

.title {
    margin-top: 18px;
    color: aliceblue;
    font-family: Aldrich;
    font-size: x-large;
    letter-spacing: .1em;
}


.break_line {
    background-color: aliceblue;
    width: 80%;
    height: 1px;

}

.login_signup_toggle {

    font-family: Aldrich;
    background-color: transparent;
    color: aliceblue;
    width: 33%;
    height: 28px;
    cursor: pointer;
    text-decoration: underline;

}