.wallets {
    display: flex;
    flex-direction: column;
    height: 65%;
    margin-top: 1rem;
    overflow-y: scroll;
    }

.scrollWrapper{
    display: flex;
    flex-direction: column;
}

.add_bar {
    position: sticky;
    display: flex;
    align-self: center;
    color: aliceblue;
    background: url(../../../assets/icons/add_bar_icon/add-50.png);
    background-size: 6vh;
    height: 6vh;
    width: 6vh;
    margin-top: 1em;
    cursor: pointer;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0px
}

