.wallets {
    display: flex;
    flex-direction: column;
    height: 80%;
    margin-top: 1rem;
    overflow-y: scroll;
    }

.scroll_wrapper{
    display: flex;
    flex-direction: column;
}

.add_bar {
    display: flex;
    align-self: center;
    color: aliceblue;
    background: url(../../../assets/icons/plus_icon.png);
    background-size: 5vh;
    height: 5vh;
    width: 5vh;
    margin-top: 1.2em;
    cursor: pointer;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0px
}

