
.analytics {
  margin-right: 4px;
  
}

.analytics_right_half_container {
    display: flex;
    justify-content: space-between;
    
    width: 48%;
    
}

.analytics_left_half_container {
    width: 48%;
    height: 100%;
    
    

}

.analytics_quarter_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 48%;
    height: 95%;
    margin-bottom: 5%

}


.analytics_bar_half_container {
    display: flex;
    justify-content: space-between;
    width: 48%;
    height: 100%;
    
}

.analytics_bar_left_half_container {
    display: flex;
    width: 48%;
    height: 100%;
    
    
}

  .analytics_bar_quarter_container_left {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
  }

  .analytics_bar_quarter_container_right {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 100%;
    align-items: center;
    justify-content: center;

  }

  .portfolio_value_heading {
    display: flex;
    align-items: center;
    padding-top: .2em;
    font-family: Aldrich;
    color: aliceblue;
    
  } 

  .quarter_widget_heading {
    display: flex;
    align-items: center;
    padding-top: .2em;
    font-family: Aldrich;
    color: aliceblue;
    
  } 
