.background {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: hsla(232, 46%, 19%, 0.88);
    height: 100vh;
    width: 100%;
}


.gradientTL {
    height: 45vh;
    width: 45vh;
    background: radial-gradient(circle, hsla(252, 88%, 49%, 45%), hsla(252, 88%, 49%, 35%) 15%, hsla(232, 15%, 20%, 0) 75%);
}

.gradientBC {
    display: flex;
    height: 70vh;
    width: 40rem;
    background: radial-gradient(circle, hsla(202, 90%, 51%, 0.286), hsla(202, 89%, 51%, 0.222) 10%, hsla(202, 89%, 51%, 0.094) 35%, transparent 60%);
    align-self: center;
    justify-self: flex-end;
   
}

.gradientTR {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: linear-gradient(210deg, hsla(299, 65%, 44%, 0.157), transparent 50%);
}