.algorithm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;
    border-top: 1px solid aliceblue;
    color: aliceblue;
    font-size: .6em;;
    font-family: Aldrich;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .15em;
    align-items: center;
    padding: 2% 0 2% 0;
    margin-top: .1%;
}

.form, .wrap {
  width: 100%;
}

.wrap {height: 100%;}

.algo_container  {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  align-items: center;
  width: 100%;
}



select {
    font-family: Aldrich;
    background-color: transparent;
    color: aliceblue;
}

.algo_form_item {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    align-items: flex-end;
  }

.algo_form_item_active {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
}

.algo_button{
  display: flex;
  flex-direction: column;
  width: 10%;
  align-items: center;
}
  
  .algo_item {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  padding-top: 1%;
  
}

.algo_title {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5%;
  text-align: right;
  
}

.algo_content{
  padding-top: 4%;
  font-size: 1.4em;
  text-align: end;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
  font-family: Aldrich;
  justify-content: center;
  line-height: .5;
}

.text_input_perc{
  font-family: Aldrich;
  display: flex;
  width: 95%;
  height: 18px;
  border: 1px solid aliceblue;
  background-color: transparent;
  color: aliceblue;
  align-items: center;
  line-height: .5;
  padding-top: 2.5%;
  font-size: 1.25em;
}

.text_input{
  font-family: Aldrich;
  display: flex;
  width: 95%;
  height: 18px;
  border: 1px solid aliceblue;
  background-color: transparent;
  color: aliceblue;
  align-items: center;
  line-height: .5;
  padding-top: 2%;
  font-size: 1.9em;
}

.algo_form_select, .algo_form_next{
    box-sizing: border-box;
    height: 20px;
    width: 90%;
    border: 1px solid aliceblue;
    background-color: transparent;
    color: aliceblue;
    font-size: 1em;
    padding-left: 5%;
    align-self: center;
    letter-spacing: .1em;
}

.algo_form_next{
  margin-top: 4px;
  padding: 0;
}
 
.text_input_bar {
    padding-top: 2%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    font-family: Aldrich;
    text-align: right;
    background-color: transparent;
    color: aliceblue;
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-top: 5%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 12px;
    display: flex;
    align-items: center;
    min-height: 18px;
    background-color: #FF003D;
  }

  .slider:before {
    left: 2px;
    position: absolute;
    content: "";
    min-height: 16px;
    width: 16px;
    background-color: #3B3C46;;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 12px;
  }

  input:checked + .slider {
    background-color: #28A73C;
  }
  
  input:checked + .slider:before {
    
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }

  .delete_algo {
    background: url(../../../../../../../assets/icons/x_icon.png);
    height: 3vh;
    width: 3vh;
    background-size: 3vh;
    cursor: pointer;
    align-self: flex-start;
    
  }

  .submit {
    background: url(../../../../../../../assets/icons/check_icon.png);
    height: 3vh;
    width: 3vh;
    background-size: 3vh;
    cursor: pointer;
  }